@import "tailwindcss";

:root {
    --black-15: #0f0f0f;
    --black-33: #212121;
    --black-45: #2d2d2d;
    --black-90: #5a5a5a;
    --gray-160: #a0a0a0;
    --white-241: #f1f1f1;
}

main {
    background-color: var(--black-15); 
    color: var(--gray-160);
}

h1 {
    color: var(--white-241);
}

nav {
    color: var(--white-241);
}

button:hover {
    background-color: var(--black-90);
    cursor: pointer;
    color: var(--white-241);
}

.container {
    background-color: var(--black-33);
}

.dark-transparent-bg {
    background-color: rgba(0, 0, 0, 0.5)
}

/* Yearly Heatmap Styles */
.yearly-heatmap-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* max-height: 8rem; */
    gap: 1px; 
}

.yearly-date-block, .hidden-yearly-date-block {
    /* padding: 0.5625rem; */
}

.yearly-date-block {
    /* background-color: var(--black-45); */
    color: var(--white-241);
}

.yearly-date-block:hover {
    background-color: var(--black-90) !important;
    cursor: pointer;
}

.hidden-yearly-date-block {
    /* background-color: rgba(255, 0, 0, 0.5); */
    color: var(--white-241);
}

